	 <div class="sidebar col-sm-4">
	   <p class="author_name">by <a href="http://homepages.inf.ed.ac.uk/csutton/">Charles Sutton</a></p>

	   <h1>Feeds</a></h1>

	   <ul>
	     <li><a href="{{ site.baseurl }}feed.xml"><i class="fa fa-rss fa-sidebar" aria-hidden="true"></i> Subscribe via RSS</a></li>
	     <li><a href="https://twitter.com/RandomlyWalking"><i class="fa fa-twitter fa-sidebar" aria-hidden="true"></i> Follow on Twitter</a></li>
	     
	   </ul>
	   
	   <h1>Recent Posts</h1>

	   <ul>
	     {% for post in site.posts limit:5 %}
	     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	     {% endfor %}
	   </ul>

	   <h1>Most Popular</h1>
	   <ul>
	     {% for post in site.tags.popular limit:5 %}
	     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	     {% endfor %}
	   </ul>

	   <h1>Topics</h1>
	   <ul>
	     {% assign sorted_tags = site.tags | sort %}
	     {% for tag in sorted_tags %}
	     {% if tag[0] != 'popular' %}
	     {% assign tag_len = tag[1].size %}
	     {% if tag_len > 1 %}
	     <li><a href="/tag/{{tag[0]}}">{{ tag[0] }}</a> ({{ tag_len }})</li>
	     {% endif %}
	     {% endif %}
	     {% endfor %}
	   </ul>

	   <h1 class="sidebar-offset">Motto</h1>

	   <p class="poem">
   A set o' dull, conceited hashes<br>
   Confuse their brains in college-classes!<br>
	   They gang in stirks, and come out asses<br>
	   Plain truth to speak; <br>
An' syne they think to climb Parnassus <br>
By dint o' Greek! 
	   </p>
	   <p class="poem-attribution">
	   Robert Burns, <a href="http://www.robertburns.org/works/61.shtml">Epistle To J. Lapraik, An Old Scottish Bard</a>
	   </p>

	 </div>
