---
layout: default
---

<div class="row">
<div class="col-sm-8">

<article class="post">
  <h1>{{ page.title }}</h1>

  {% include author_block.html thingy=page %}

  <div class="content">
  {{ content }}
  </div>

</article>

  {% include tag_block.html thingy=page %}

  <div class="row pagenav">
      {% if page.previous.url %}
      <div class="col-xs-6 prev_post"><a href="{{page.previous.url}}">&larr; {{page.previous.title}}</a></div>
      {% endif %}
      {% if page.next.url %}
      <div class="col-xs-6 next_post"><a href="{{page.next.url}}">{{page.next.title}} &rarr;</a></div>
      {% endif %}
  </div>


  {% include disqus.html %}


  </div>

  {% include sidebar.html %}
  
</div>

